<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="description" content="js设计模式">
    <meta name="keywords" content="js设计模式">
    <meta name="author" content="js设计模式">
    <title>观察者模式</title>
  </head>
  <body>
    <div>
      <button id="addNewObserver">Add New Observer checkbox</button>
      <input id="mainCheckbox" type="checkbox"/>
      <div id="observersContainer">observersContainer</div>      
    </div>
    <div id="container"> 
      <div class="sampleForm">
          <p>
              <label for="twitter_handle">Twitter handle:</label>
              <input type="text" id="twitter_handle" />
          </p>
          <p>
              <label for="movie_seen">Name a movie you've seen this year:</label>
              <input type="text" id="movie_seen" />
          </p>
          <p>    
              <label for="movie_rating">Rate the movie you saw:</label>
              <select id="movie_rating">
                    <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5" selected>5</option>   
             </select>
           </p>
           <p>   
               <button id="add">Submit rating</button>
           </p>
       </div>
       <div class="summaryTable">
           <div id="users"><h3>Recent users</h3></div>
           <div id="ratings"><h3>Recent movies rated</h3></div>
       </div>
    </div>    
  </body>
  <script type="text/javascript" src="../patternJs/ObserverPattern.js"></script>
  <script id="userTemplate" type="text/html">
    <li><%= name %></li>
  </script>
  <script id="ratingsTemplate" type="text/html">
    <li><strong><%= title %></strong> was rated <%= rating %>/5</li>
  </script>
</html>